---
interface Props {
	id: number;
	name: string;
	class?: string;
}

const { id, name, class: className } = Astro.props;
---

<div
	id={`${name}-${id}`}
	class:list={[
		"dropdown dropdown-end dropdown-top mb-2 ml-2 rounded-box border border-primary/20 bg-base-100 p-2 shadow-md",
		className,
	]}
	popover
	style={`position-anchor: --anchor-${id}-actions`}
>
	<slot />
</div>
