---
import {
	displayValue,
	formatNumber,
	type StatValue,
} from "@bandori-stats/bestdori/helpers";

import type { JSX } from "astro/jsx-runtime";

import { STAT_BADGES } from "./_stat-colors";

interface Props extends JSX.HTMLAttributes {
	name: keyof typeof STAT_BADGES;
	delta: number;
	value: StatValue;
}

const { name, value, delta, class: className } = Astro.props;
---

<span
	data-tip={`from: ${displayValue(value)}`}
	class:list={[
		"tooltip badge badge-soft font-bold",
		STAT_BADGES[name],
		className,
	]}
>
	{formatNumber(delta, { autoCompact: true, positiveSign: true })}
</span>
