DATABASE_URL=""
DATABASE_AUTH_TOKEN=""

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

TRIGGER_SECRET_KEY=""

# for web push notifications
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""

# for fetching BanG Dream GBP leaderboard on packages/triggers
BANG_DREAM_USER_ID=""
BANG_DREAM_USER_TOKEN=""
BANG_DREAM_USER_SIGNATURE=""
BANG_DREAM_AES_KEY=""
BANG_DREAM_AES_IV=""

# packages/discord-bot
DISCORD_APPLICATION_ID=""
DISCORD_APPLICATION_PUBLIC_KEY="""
DISCORD_APPLICATION_TOKEN=""

# for triggering redeploy on packages/triggers
GITHUB_TOKEN="""

# site analytics https://cloud.umami.is (optional)
UMAMI_SITE_ID=""
