@import "tailwindcss";
@plugin "daisyui" {
	themes:
		pastel --default,
		dracula --prefersdark;
	exclude:
		rootscrollgutter,
		properties /* https://github.com/saadeghi/daisyui/issues/3882 */;
}

.htmx-indicator {
	@apply hidden;

	&.htmx-request,
	.htmx-request & {
		@apply block;
	}
}
