@import "tailwindcss";
@plugin "daisyui" {
	themes:
		pastel --default,
		dracula --prefersdark;
	exclude:
		rootscrollgutter,
		properties /* https://github.com/saadeghi/daisyui/issues/3882 */;
}

.htmx-indicator {
	display: none;

	&.htmx-request,
	.htmx-request & {
		display: unset;
	}
}

.absolute.center,
.fixed.center {
	@apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
