@import "tailwindcss";
@plugin "daisyui" {
	themes:
		pastel --default,
		dracula --prefersdark;
	exclude:
		rootscrollgutter,
		properties /* https://github.com/saadeghi/daisyui/issues/3882 */;
}

.htmx-indicator:not(.htmx-request) {
	@apply hidden;
}

.absolute.center,
.fixed.center {
	@apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
