@import "tailwindcss";
@plugin "daisyui" {
	themes:
		pastel --default,
		dracula --prefersdark;
	exclude:
		rootscrollgutter,
		properties /* https://github.com/saadeghi/daisyui/issues/3882 */;
}

:not(.htmx-request) > .htmx-indicator:not(.htmx-request),
.htmx-indicator-replace.htmx-request,
.htmx-request > .htmx-indicator-replace {
	@apply hidden;
}

.htmx-request:not(.htmx-indicator) {
	@apply opacity-50;
}

.absolute.center,
.fixed.center {
	@apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
