---
import {
	compareValue,
	displayValue,
	formatNumber,
	type StatValue,
} from "~/lib/math";

interface Props {
	value: StatValue;
	previousValue: StatValue;
}

const { value, previousValue } = Astro.props;
const delta = compareValue(value, previousValue);
---

<td
	class:list={[
		(!value && "font-medium opacity-40") || (delta > 0 && "font-semibold"),
	]}
>
	{
		delta > 0 ? (
			<div class="flex flex-col">
				<span>{displayValue(value)}</span>
				<span>(+{formatNumber(delta, true)})</span>
			</div>
		) : (
			displayValue(value)
		)
	}
</td>
