---
import BaseLayout from "~/layouts/base-layout.astro";
---

<BaseLayout title="History">
	<!-- TODO: use css-grid-lanes (masonry layout) when it arrives https://caniuse.com/css-grid-lanes -->
	<ul
		class="mx-auto grid gap-4 p-4 md:grid-cols-2 xl:grid-cols-3"
		hx-indicator="#history-loader"
	>
		<div
			hx-get="/history/items"
			hx-trigger="revealed"
			hx-indicator="#app-loader"
			hx-swap="outerHTML"
		>
		</div>
	</ul>

	<div
		class="htmx-indicator mx-auto mt-4 flex flex-col items-center py-12"
		id="history-loader"
	>
		<iconify-icon
			class="size-24"
			icon="svg-spinners:90-ring-with-bg"
			width="none"></iconify-icon>

		<span class="font-medium">loading snapshots...</span>
	</div>
</BaseLayout>
