---
import { startCase } from "@bandori-stats/bestdori/helpers";
import type { Snapshot } from "@bandori-stats/database/schema";

import Icon from "~/components/icon.astro";

interface Props {
	name: keyof Snapshot["stats"];
	title?: string;
}

const { name, title } = Astro.props;

const STAT_ICONS = {
	highScoreRating: "lucide:crown",
	bandRating: "lucide:guitar",
	allPerfectCount: "lucide:sparkles",
	fullComboCount: "lucide:zap",
	clearCount: "lucide:circle-check-big",
	rank: "lucide:award",
	titles: "lucide:podium",
} satisfies Record<keyof Snapshot["stats"], string>;
---

<div class="card">
	<div class="card-body px-0">
		<h2 class="card-title self-center">
			<Icon class="text-primary" name={STAT_ICONS[name]} />
			{title ?? startCase(name)}
		</h2>

		<slot />
	</div>
</div>
