---
import type { JSX } from "astro/jsx-runtime";

import type { Stat } from "@bandori-stats/database/constants";
import { titleCase } from "text-case";

import { formatNumber } from "~/lib/math";

type StatValue = Stat[keyof Stat];

interface Props extends JSX.HTMLAttributes {
	label: string;
	value: StatValue;
	previousValue: StatValue;
}

const getValue = (it: NonNullable<StatValue>) =>
	Array.isArray(it) ? it.length : it;

const {
	label,
	value,
	previousValue,
	class: className,
	...attributes
} = Astro.props;
const displayedValue =
	value !== null ? formatNumber(getValue(value)) : "Private";
const diff =
	previousValue !== null && value !== null
		? getValue(value) - getValue(previousValue)
		: 0;
---

<span
	class:list={[
		"badge badge-sm",
		value === null
			? "badge-neutral"
			: diff > 0
				? "badge-secondary"
				: "badge-primary",
		className,
	]}
	{...attributes}
>
	{titleCase(label.replace("Count", ""))} &middot;{" "}
	{displayedValue}
	{diff > 0 && ` (+${formatNumber(diff, true)})`}
</span>
