---
import Icon from "~/components/icon.astro";
import BaseLayout from "~/layouts/base-layout.astro";
---

<BaseLayout title="Homepage">
	<div class="absolute inset-0 flex flex-col items-center justify-center">
		<h1 class="font-medium">bandori-stats</h1>

		<div class="mt-4 flex flex-wrap justify-center gap-2">
			<a class="btn btn-primary btn-sm" href="/history">
				<Icon name="lucide:calendar-clock" />
				History
			</a>
			<a class="btn btn-primary btn-sm" href="/vs">
				<Icon name="lucide:flame" />
				VS
			</a>
		</div>

		<div class="mt-2 flex flex-wrap justify-center gap-2">
			<a
				class="btn btn-accent"
				data-umami-event="homepage-view-source-code"
				href={`${__GIT_URL__}/tree/${__GIT_HASH__}`}
				rel="noopener noreferrer"
				target="_blank"
			>
				<Icon class="size-5" name="line-md:github-loop" />
				Source code
			</a>
			<a
				class="btn btn-accent"
				data-umami-event="homepage-invite-discord-bot"
				href="/discord-bot/invite"
				rel="noopener noreferrer"
				target="_blank"
			>
				<Icon class="size-5" name="line-md:discord" />
				Discord bot
			</a>
		</div>
	</div>
</BaseLayout>
