---
import BaseLayout from "~/layouts/base-layout.astro";

export const prerender = true;
---

<BaseLayout>
	<div class="absolute inset-0 flex flex-col justify-center text-center">
		<h1 class="font-medium">bandori-stats</h1>
		<a href="/leaderboard" class="link">Leaderboard</a>
	</div>
</BaseLayout>
