---
import BaseLayout from "~/layouts/base-layout.astro";

export const prerender = true;
---

<BaseLayout title="Homepage">
	<div
		hx-boost="true"
		class="absolute inset-0 flex flex-col items-center justify-center"
	>
		<h1 class="font-medium">bandori-stats</h1>

		<div class="mt-4 flex flex-wrap justify-center gap-2">
			<a href="/leaderboard" class="btn btn-sm btn-primary">
				<iconify-icon icon="lucide:trophy" class="size-4" width="none"
				></iconify-icon>
				Leaderboard
			</a>
			<a href="/history" class="btn btn-sm btn-primary">
				<iconify-icon icon="lucide:calendar-clock" class="size-4" width="none"
				></iconify-icon>
				History
			</a>
		</div>

		<div class="mt-2 flex flex-wrap justify-center gap-2">
			<a
				href="https://github.com/ahmadyasser72/bandori-stats"
				target="_blank"
				rel="noopener noreferrer"
				class="btn btn-accent"
			>
				<iconify-icon icon="line-md:github-loop" class="size-5" width="none"
				></iconify-icon>
				Source code
			</a>
			<a
				href="/discord-bot/invite"
				target="_blank"
				rel="noopener noreferrer"
				class="btn btn-accent"
			>
				<iconify-icon icon="line-md:discord" class="size-5" width="none"
				></iconify-icon>
				Discord bot
			</a>
		</div>
	</div>
</BaseLayout>
