---
import BaseLayout from "~/layouts/base-layout.astro";

export const prerender = true;
---

<BaseLayout title="Homepage">
	<div
		class="absolute inset-0 flex flex-col items-center justify-center"
		hx-boost="true"
	>
		<h1 class="font-medium">bandori-stats</h1>

		<div class="mt-4 flex flex-wrap justify-center gap-2">
			<a class="btn btn-sm btn-primary" href="/history">
				<iconify-icon class="size-4" icon="lucide:calendar-clock" width="none"
				></iconify-icon>
				History
			</a>
			<a class="btn btn-sm btn-secondary" href="/compare">
				<iconify-icon class="size-4" icon="lucide:arrow-left-right" width="none"
				></iconify-icon>
				Compare
			</a>
		</div>

		<div class="mt-2 flex flex-wrap justify-center gap-2">
			<a
				class="btn btn-accent"
				href="https://github.com/ahmadyasser72/bandori-stats"
				rel="noopener noreferrer"
				target="_blank"
			>
				<iconify-icon class="size-5" icon="line-md:github-loop" width="none"
				></iconify-icon>
				Source code
			</a>
			<a
				class="btn btn-accent"
				href="/discord-bot/invite"
				rel="noopener noreferrer"
				target="_blank"
			>
				<iconify-icon class="size-5" icon="line-md:discord" width="none"
				></iconify-icon>
				Discord bot
			</a>
		</div>
	</div>
</BaseLayout>
