---
import BaseLayout from "~/layouts/base-layout.astro";

export const prerender = true;
---

<BaseLayout>
	<div class="absolute inset-0 flex flex-col justify-center text-center">
		<h1 class="font-medium">Hello world!</h1>
		<a href="/latest" class="link">Latest</a>
	</div>
</BaseLayout>
