---
import { db, gt } from "@bandori-stats/database";
import { latestSnapshots } from "@bandori-stats/database/schema";

import BaseLayout from "~/layouts/base-layout.astro";

const params = Astro.url.searchParams;

const pageSize = 25;
const nextPage = async () => {
	const cursor = Number(params.get("cursor") ?? NaN);

	return db
		.select()
		.from(latestSnapshots)
		.where(
			!Number.isNaN(cursor) ? gt(latestSnapshots.accountId, cursor) : undefined,
		)
		.orderBy(latestSnapshots.accountId)
		.limit(pageSize);
};

const nextPageHtmxProps = (cursor: number) => {
	const nextPageUrl = new URL(Astro.url);
	nextPageUrl.searchParams.set("cursor", cursor.toString());

	return {
		"hx-get": nextPageUrl.href,
		"hx-select": "tbody > tr",
		"hx-swap": "afterend",
		"hx-trigger": "intersect once",
	};
};

const entries = await nextPage();
---

<BaseLayout>
	<div class="absolute inset-0 overflow-x-auto">
		<table class="table-xs table">
			<thead>
				<tr class="bg-base-100 sticky top-0 z-10">
					<th>Username</th>
					<th>Last updated</th>
					<th>Rank</th>
					<th>Cleared</th>
					<th>Full Combo</th>
					<th>All Perfect</th>
					<th>High Score Rating</th>
					<th>Band Rating</th>
				</tr>
			</thead>

			<tbody>
				{
					entries.map(
						({ username, snapshotDate, accountId, ...stats }, idx) => (
							<tr
								{...(idx === pageSize - 1 ? nextPageHtmxProps(accountId) : {})}
							>
								<th class="bg-base-100/20 sticky left-0 pl-0 shadow-sm">
									<p class="w-36 overflow-clip text-ellipsis">
										<span class="bg-base-100 px-4">{username}</span>
									</p>
								</th>
								<td>{snapshotDate}</td>

								{Object.values(stats).map((stat) => (
									<td>
										{stat ? stat : <b class="text-base-content/40">Private</b>}
									</td>
								))}
							</tr>
						),
					)
				}
			</tbody>
		</table>
	</div>
</BaseLayout>
