---
interface Props {
	label: string;
	side: "reference" | "compared";
	value?: string;
	"other-id"?: number;
}

const { label, side, value, "other-id": otherId } = Astro.props;
const username = value ? `@${value}` : undefined;
---

<div class="dropdown w-full">
	<label class="floating-label">
		<span>{label}</span>

		<input
			type="text"
			name="query"
			class="input"
			placeholder={`Select ${label} Account...`}
			value={username}
			autocomplete="off"
			hx-get="/compare/search"
			hx-vals={JSON.stringify({ side, other: otherId })}
			hx-trigger="keyup changed delay:300ms, focus"
			hx-target="next .dropdown-content"
		/>
	</label>

	<ul
		tabindex="-1"
		class="dropdown-content menu bg-base-100 rounded-box z-1 w-full p-2 shadow-sm"
		hx-target="#compare-results"
		hx-select="#compare-results"
		hx-swap="outerHTML"
		hx-select-oob="#compare-form"
		hx-replace-url="true"
	>
	</ul>
</div>
