---
import { UMAMI_SITE_ID } from "astro:env/server";

import Icon from "~/components/icon.astro";

import "~/styles/global.css";

import { Font } from "astro:assets";

import Breadcrumbs from "./components/breadcrumbs.astro";
import ThemeSelector from "./components/theme-selector.astro";

interface Props {
	title: string;
	containerClass?: string;
}

const { title, containerClass } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<script is:inline>
			document.documentElement.dataset.theme =
				localStorage.getItem("theme") ??
				(window.matchMedia("(prefers-color-scheme: dark)").matches
					? "mocha"
					: "latte");
		</script>

		<link type="image/png" href="/favicon-96x96.png" rel="icon" sizes="96x96" />
		<link type="image/svg+xml" href="/favicon.svg" rel="icon" />
		<link href="/favicon.ico" rel="shortcut icon" />
		<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
		<meta name="apple-mobile-web-app-title" content="bandori-stats" />
		<link href="/site.webmanifest" rel="manifest" />

		<Font cssVariable="--font-cause" preload />
		<Font cssVariable="--font-m-plus-rounded-1c" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>bandori-stats &bullet; {title}</title>

		{
			import.meta.env.PROD && UMAMI_SITE_ID && (
				<script
					data-website-id={UMAMI_SITE_ID}
					src="https://cloud.umami.is/script.js"
					defer
					is:inline
				/>
			)
		}
	</head>
	<body>
		<main
			hx-indicator="#app-loader"
			class:list={["container mx-auto p-4", containerClass]}
		>
			{
				Astro.url.pathname !== "/" && (
					<div class="flex items-center justify-between">
						<Breadcrumbs pathname={Astro.url.pathname} />

						<ThemeSelector />
					</div>
				)
			}

			<slot />
		</main>

		<div
			class="htmx-indicator fixed inset-0 z-20 bg-base-100/50"
			id="app-loader"
		>
			<Icon class="center absolute size-24" name="svg-spinners:3-dots-move" />
		</div>
	</body>
</html>

<script>
	import htmx from "htmx.org";

	window.htmx = htmx;

	htmx.onLoad((node) => {
		if (!(node instanceof HTMLElement)) return;

		if (
			node instanceof HTMLImageElement &&
			node.classList.contains("skeleton") &&
			node.classList.contains("border")
		) {
			const image = node;
			const done = () => image.classList.remove("skeleton", "border");
			if (image.complete) done();
			else image.addEventListener("load", done, { once: true });
		}
	});
</script>
