---
import "~/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div
			class="container mx-auto flex h-screen flex-col px-8 py-4 lg:max-w-4xl"
		>
			<main class="relative flex-1 shadow-sm">
				<slot />
			</main>
		</div>

		<div
			id="app-loader"
			class="htmx-indicator bg-base-100/50 fixed inset-0 z-20"
		>
			<iconify-icon
				icon="svg-spinners:bars-scale-fade"
				width="none"
				class="center absolute size-24"></iconify-icon>
		</div>
	</body>
</html>

<script>
	import htmx from "htmx.org";

	htmx.onLoad(async (node) => {
		if (!(node instanceof HTMLElement)) return;

		if (node instanceof HTMLDialogElement) {
			node.show();
			node.addEventListener("close", () => {
				node.addEventListener("transitionend", () => node.remove());
			});
		} else if (
			node instanceof HTMLImageElement &&
			node.classList.contains("skeleton") &&
			node.classList.contains("border")
		) {
			const done = () => node.classList.remove("skeleton", "border");
			if (node.complete) done();
			else node.addEventListener("load", done, { once: true });
		}
	});

	htmx.on("htmx:afterProcessNode", async (e) => {
		const event = e as Event & { detail: { elt: HTMLElement } };
		const canvas = event.detail.elt.querySelector("canvas[data-radar-chart]");
		if (!(canvas instanceof HTMLCanvasElement)) return;

		const { useRadarChart } = await import("~/lib/chart");
		await useRadarChart(canvas, JSON.parse(canvas.dataset.radarChart!));
	});
</script>
<script src="iconify-icon"></script>
