---
import { UMAMI_SITE_ID } from "astro:env/server";

import "~/styles/global.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link type="image/png" href="/favicon-96x96.png" rel="icon" sizes="96x96" />
		<link type="image/svg+xml" href="/favicon.svg" rel="icon" />
		<link href="/favicon.ico" rel="shortcut icon" />
		<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
		<meta name="apple-mobile-web-app-title" content="bandori-stats" />
		<link href="/site.webmanifest" rel="manifest" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>bandori-stats &bullet; {title}</title>

		{
			UMAMI_SITE_ID && (
				<script
					data-website-id={UMAMI_SITE_ID}
					src="https://cloud.umami.is/script.js"
					defer
					is:inline
				/>
			)
		}
	</head>
	<body>
		<div class="container mx-auto flex h-screen flex-col py-2">
			<main class="relative flex-1 shadow-sm" hx-indicator="#app-loader">
				<slot />
			</main>
		</div>

		<div
			class="htmx-indicator bg-base-100/50 fixed inset-0 z-20"
			id="app-loader"
		>
			<iconify-icon
				class="center absolute size-24"
				icon="svg-spinners:bars-scale-fade"
				width="none"></iconify-icon>
		</div>
	</body>
</html>

<script>
	import htmx from "htmx.org";

	import { useChart } from "~/lib/chart";

	htmx.onLoad((node) => {
		if (!(node instanceof HTMLElement)) return;

		if (node instanceof HTMLDialogElement) {
			node.show();
			node.addEventListener("close", () => {
				node.addEventListener("transitionend", () => node.remove());
			});
		} else if (
			node instanceof HTMLImageElement &&
			node.classList.contains("skeleton") &&
			node.classList.contains("border")
		) {
			const image = node;
			const done = () => image.classList.remove("skeleton", "border");
			if (image.complete) done();
			else image.addEventListener("load", done, { once: true });
		}

		node.querySelectorAll("canvas[data-chart]").forEach(async (canvas) => {
			if (!(canvas instanceof HTMLCanvasElement)) return;

			await useChart(canvas, JSON.parse(canvas.dataset.chart!));
		});
	});

	htmx.on("htmx:beforeSwap", (e) => {
		const event = e as Event & {
			detail: {
				elt: HTMLElement;
				serverResponse: string;
				target: HTMLElement;
				swapOverride: string;
			};
		};

		if (
			event.detail.serverResponse.startsWith("<dialog") &&
			event.detail.elt instanceof HTMLButtonElement
		) {
			event.detail.target = document.body;
			event.detail.swapOverride = "beforeend";
		}
	});
</script>
<script src="iconify-icon"></script>
