---
import "~/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div
			class="container mx-auto flex h-screen flex-col px-8 py-4 lg:max-w-4xl"
		>
			<main class="relative flex-1 shadow-sm">
				<slot />
			</main>
		</div>

		<div id="app-loader" class="htmx-indicator center fixed">
			<iconify-icon icon="svg-spinners:bars-scale-fade" width="96"
			></iconify-icon>
		</div>
	</body>
</html>

<script>
	import htmx from "htmx.org";

	htmx.onLoad((node) => {
		if (node instanceof HTMLDialogElement) node.show();
	});
</script>
<script src="iconify-icon"></script>
