---
import { accountHasNickname } from "@bandori-stats/bestdori/helpers";

interface Props {
	username: string;
	nickname: string | null;
}

const { username, nickname } = Astro.props;
const hasNickname = accountHasNickname({ username, nickname });
---

<span class="font-medium">
	{
		hasNickname ? (
			<>
				{nickname}
				<span class="ml-2 text-base text-base-content/60">@{username}</span>
			</>
		) : (
			`@${username}`
		)
	}
</span>
