---
import type { JSX } from "astro/jsx-runtime";

import {
	compareValue,
	displayValue,
	formatNumber,
	type StatValue,
} from "@bandori-stats/bestdori/helpers";
import { titleCase } from "text-case";

interface Props extends JSX.HTMLAttributes {
	label: string;
	value: StatValue;
	previousValue: StatValue;
}

const {
	label,
	value,
	previousValue,
	class: className,
	...attributes
} = Astro.props;

const delta = compareValue(value, previousValue);
const badgeClass = (() => {
	if (value === null) return "badge-neutral";
	else if (previousValue === null) return "badge-success";
	else if (delta > 0) return "badge-secondary";
	else return "badge-primary";
})();
---

<span class:list={["badge badge-sm", badgeClass, className]} {...attributes}>
	{titleCase(label.replace("Count", ""))} &middot;{" "}
	{displayValue(value)}
	{delta > 0 && ` (+${formatNumber(delta, true)})`}
</span>
