---
interface Props {
	id: number;
	name: string;
	class?: string;
}

const { id, name, class: className } = Astro.props;
---

<div
	id={`${name}-${id}`}
	class:list={["dropdown dropdown-end dropdown-top", className]}
	popover
	style={`position-anchor: --anchor-${id}-actions`}
>
	<slot />
</div>
